
body {
    background-color: black;
}
div {
    width: 50%;
    margin: 25%;
    margin-top: 100px;
    background-color: black;
    font-family: "Libre Baskerville", serif;
}

img {
    width: 100%;
    border: 5px solid white;
}

h1 {
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 3rem;
}

p {
    color: white;
    text-align: center;
    font-style: italic;
}